@font-face {
  font-family: 'BebasNeue';
  src: url('/fonts/BebasNeue.otf');
}

@font-face {
  font-family: 'MaturaScriptCapitals';
  src: url('/fonts/MaturaMTScriptCapitals.ttf');
}

@font-face {
  font-family: 'iconfont';  /* project id 861369 */
  src: url('//at.alicdn.com/t/font_861369_9voy0xmnmvl.eot');
  src: url('//at.alicdn.com/t/font_861369_9voy0xmnmvl.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_861369_9voy0xmnmvl.woff') format('woff'),
  url('//at.alicdn.com/t/font_861369_9voy0xmnmvl.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_861369_9voy0xmnmvl.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  &.icon-behance::before {
    content: '\e919';
  }
  &.icon-lofter::before {
    content: '\e63c';
  }
  &.icon-instagram::before {
    content: '\e626';
  }
  &.icon-dribbble::before {
    content: '\e6c3';
  }
  &.icon-github::before {
    content: '\e799';
  }
  &.icon-arrow-left::before {
    content: '\e91a';
  }
  &.icon-arrow-right::before {
    content: '\e636';
  }
}