<footer id="footer" class="f-cf">
  <%= theme.mail %>
  <% if (theme.social) { %>
    <% _.forEach(theme.social, function(value, key) { %>
      <% if (value) { %>
        · <a href="<%= url_for(value) %>" target="_blank" class="nav-icn"><%= key %></a>
      <% } %>
    <% }); %>
  <% } %>
  <span class="copyright"><%= theme.copyright %></span>
</footer>