<footer id="footer" class="f-cf">
  <%= theme.mail %>
  <% if (theme.social) { %>
    <% for (key in theme.social) { %>
      <% value = theme.social[key]; %>
      <% if (value) { %>
        · <a href="<%= url_for(value) %>" target="_blank" class="nav-icn"><%= key %></a>
      <% } %>
    <% }; %>
  <% } %>
  <span class="copyright"><%= theme.copyright %></span>
</footer>