<% if (page.prev || page.next) { %>
  <nav class="pagination">
    <%- paginator({
      prev_text: '<span class="iconfont icon-arrow-left"></span>',
      next_text: '<span class="iconfont icon-arrow-right"></span>',
    }) %>
  </nav>
<% } %>
