#nav {
  margin-bottom: 64px;
  > .header {
    margin-bottom: 10px;
    > .title {
      font-size: 45px;
      line-height: 53px;
      color: #333;
      font-family: MaturaScriptCapitals;
      &:hover {
        opacity: .7;
      }
    }
  }
  > .ctnWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > .menu {
      // min-width: 320px;
      text-align: right;
    }
    @media screen and (max-width: 600px){
      flex-direction: column;
      > .menu {
        text-align: center;
        margin-top: 10px;
      }
    }
  }
  .nav-menu {
    font-family: BebasNeue;
    font-size: 20px;
    line-height: 24px;
    color: #333;
    margin-left: 24px;
    &:first-child {
      margin-left: 0;
    }
    &.z-active {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -4px;
        height: 2px;
        background-color: #333;
      }
    }
    @media screen and (max-width: 600px){
      margin-left: 10px;
      font-size: 18px;
    }
  }
  .nav-icn {
    margin-right: 15px;
    line-height: 24px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 600px){
    text-align: center;
    margin-bottom: 20px;
    > .ctnWrap {
      justify-content: space-around;
    }
  }
}