.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
  margin: 40px 0;
  background-color: white;
  color: #333;
  > .imgWrap {
    width: 320px;
    height: 240px;
    margin-right: 40px;
    background-color: #f8f8f8;
    > img {
      width: 100%;
      height: 100%;
    }
  }
  > .ctnWrap {
    flex: 1;
    > .title {
      font-weight: 600;
      font-size: 28px;
      line-height: 40px;
    }
    > .desc {
      font-size: 16px;
      line-height: 30px;
      margin-top: 20px;
      margin-bottom: 15px;
    }
    > .sub {
      font-size: 16px;
      line-height: 30px;
      opacity: .5;
    }
  }
  &:hover {
    opacity: 1;
    > .ctnWrap {
      > .title {
        color: #f0534e;
      }
    }
  }
  &.project-card-continuous {
    flex-direction: row-reverse;
    margin: 0;
    position: relative;
    > .imgWrap {
      margin-right: 0;
      margin-left: 40px;
    }
    &::after {
      content: '';
      position: absolute;
      left: 100px;
      right: 100px;
      bottom: 0;
      height: 1px;
      background-color: #eee;
    }
    @media screen and (max-width: 800px) {
      flex-direction: column;
      padding: 20px;
      > .imgWrap {
        margin-left: 0;
        margin-bottom: 20px;
      }
      &::after {
        left: 20px;
        right: 20px;
      }
    }
  }
  @media screen and (max-width: 800px) {
    flex-direction: column;
    padding: 20px;
    > .imgWrap {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 20px;
      width: 100%;
    }
  }
}